.container.header {
  height: 180px;
}

.display-4 {
  font-family: 'Cinzel', serif;
  font-size: 3rem !important;
  font-weight: 800;
  color: var(--offWhite);
  text-align: center;
  padding-top: 1.5rem;
}

@media screen and (max-width: 525px) {
  h1 {
    font-size: 2rem !important;
  }
}