.navbar {
  display: flex;
  text-align: center;
  justify-content: center !important;
}

.nav-item a {
  text-decoration: none !important;
  color:black;
  font-size: 28px;
  font-family: 'Crimson Text', serif;
}

.nav-item a:hover {
  color: #8d0000;
  transform: translateY(-2px);
}