.media {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--wineRed);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 32px;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 44px;
  color: var(--lightTan) !important;
  border-bottom: 2px solid var(--lightTan);
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  color: var(--offWhite);
}

img {
  border-radius: 8px;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  img {
    margin-top: 3.25rem;
  }
} 

@media screen and (max-width: 768px) {
  .media {
    width: 90%;
  }

  .about-img-box {
    width: fit-content;
  }
  img {
    margin-top: 3rem;
    width: 90%;
  }

  .lead.col-md {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-img-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }
  img {
    margin: 1rem;
    width: 50%;
  }

  .lead.col-md {
    font-size: 16px;
    font-weight: 600;
  }
}